*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body h1{
    text-align: center;
    font-size: larger;
    padding-top: 200px;

}

body form{
    padding-left: 30%;
    padding-top: 30px;
}
body form input.button{
    margin-top: 15px;
    align-items: center;
}